<form method='post' action='/login'>
<input id='email' type='string' name='email' placeholder="Email:">
<br>
<input id='passwod' type='string' name='password' placeholder="Password:">
<br>
<input type='submit' value='Log In'>
</form>