<form method='post' action='/signup'>
<input id='name' type='string' name='name' placeholder="Name:">
<br>
<input id='email' type='string' name='email' placeholder="Email:">
<br>
<input id='passwod' type='string' name='password' placeholder="Password:">
<br>
<input type='submit' value='Sign Up'>
</form>