<form method="post" action="/goals/<%= @goal.id%>">
<input type="hidden" id="hidden" name="_method" value="patch">
    <div style="font-size:20px">Edit Goal:</div>
    <br>
    <p style="font-size:15px">Title: <input id="title" type="string" name="title" value="<%=@goal.title%>"></p>
    <br>
    <p style="font-size:15px">Tasks:</p>
        <% @goal.tasks.each do |task| %>
            <li><label>-> </label><input id="tasks" type="string" name="tasks[][task]" value="<%=task.task%>" size="23"></li><br>
        <% end %>	
    <p style="font-size:15px">Notes:</p>
    <input id="notes" type="text" name="notes" value="<%=@goal.notes%>" size="26"><br>
    <br><input type="submit" value="                        OK                        "><br>
</form>

