<h2 style='float: left;'>MyGoals</h2> 
<div style='float: right;'> Welcome, <%=current_user.name%> <a href="/logout">Log Out</a></div>
<hr style="clear:both;"/>




<% @goals.each do |goal| %>				
	<p><a href="/goals/<%= goal.id %>"><%= goal.title %></a></p>			
<% end %>				
				
				
				
				
				
