<br>
<div style="font-size:20px">Your Goals:</div>
<br>
<%@goals.each_with_index do |goal, index|%>		
	<%a = 0; b = 0;%>
	<%goal.tasks.each do |task|%>
		<%if task.task != ""%>
		<%a += 1%>
		<%end%>
    <%end%>            
    <%goal.tasks.each do |task|%>     
		<%if task.status == "1"%>       
		<%b += 1%>
        <%end%>
    <%end%>             
    <%@percent = (100 * b) / a%>                  
             
	<p style="font-size:15px"><%= index + 1%>. <a href="/goals/<%= goal.id %>"><%= goal.title%></a> (<%= @percent %>% complete)</p>			
<% end %>				

<p><a href="/goals/new">+ Add a New Goal</a></p>